{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block content %}
  <h1>{% trans "Bulk create operators (download CSV)" %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="submit-row">
      <input type="submit" class="default" value="{% trans 'Generate & Download CSV' %}">
      <!-- Динамическая ссылка назад в changelist текущей модели -->
      <a class="button" href="{% url opts|admin_urlname:'changelist' %}">{% trans 'Back' %}</a>
    </div>
  </form>
{% endblock %}
